
@{
    ViewData["Title"] = "EmailConfirmationSent";
}

<h2>Email Confirmation Sent</h2>

<div>
    <p>
        Email Confirmation Sent, Check your mail and confirm email. <a asp-controller="Account" asp-action="Login">Click here to Log in when done</a>.
    </p>
</div>
